
  
  <div class="container">
    <app-topo></app-topo>
    <div *ngIf="jogoEmAndamento; else fimDeJogo">
      <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
    </div>

    <ng-template #fimDeJogo>

      <div class="row">
        <div class="col pt-5 d-flex justify-content-center">
          <div *ngIf="tipoEncerramento === 'derrota';else fimDeJogoVitoria">
            <h5 class="text-center">Você perdeu!</h5>
            <img src="/assets/lose.png" alt="" style="width: 18rem;">

          </div>
        </div>
      </div>
      <div class="row pt-5">
        <div class="col text-center">
          <button class="btn btn-primary" (click)="reiniciar()"> Jogar Novamente</button>
        </div>
      </div>

    </ng-template>
    <ng-template #fimDeJogoVitoria>
      <div class="row">
        <div class="col pt-5 d-flex justify-content-center">
          <div>
            <h5 class="text-center">Você ganhou!</h5>
            <img src="/assets/win.png" alt="" style="width: 18rem;">
          </div>
        </div>
      </div>
    </ng-template>
  </div>